*{
	margin:0;
	padding:0;
    box-sizing: border-box;
}

.bg{
    position:absolute;
    width:100%;
    height:100vh;
}
.bg_1{  
    background-color: #447ac0;
    background-size:cover;
    animation:bg_change 24s linear 18s infinite;
}
        
.bg_2{
    background-color: #c044b8;
    background-size:cover;
    animation:bg_change 24s linear 12s infinite;
}
        
.bg_3{
    background-color: #c08a44;
    background-size:cover;
    animation:bg_change 24s linear 6s infinite;
}
        
.bg_4{
    background-color: #44c04c;
    background-size:cover;
    animation:bg_change 24s linear 0s infinite;
}

@keyframes bg_change{
	
	0%{
		opacity:1;
	}
		
	20%{	
		opacity:1;
	}
		
	30%{
		opacity:0;
	}
		
	90%{
		opacity:0;
	}
		
	100%{
		opacity:1;
	}
}
	


	
