* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  background-color: #447ac0;
}

header,
main {
  width: 80%;
  margin: 0 auto;
}

header {
  height: 15vh;
  background-color: black;
}

header h1 {
  color: whitesmoke;
  font-size: 2.5em;
  text-align: center;
  line-height: 150px;
}

main {
  min-height: 85vh;
  padding-top: 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

nav input {
  display: none;
}

nav label {
  display: block;
  width: 100%;
  line-height: 80px;
  text-align: center;
  background: #bfbfbf;
  font-size: 1.5em;
  color: #000000;
  border: 1px solid whitesmoke;
  cursor: pointer;
}

nav label:hover {
  background: #7f7f7f;
  color: #ffffff;
}

nav .opcion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

nav .opcion div {
  margin: auto;
}

nav .opcion img {
  display: block;
  max-width: 250px;
}

nav .opcion p {
  margin: 10px 0px;
  padding: 10px;
  text-align: justify;
}

input#chk1:checked ~ #opcion1 {
  height: 300px;
}

input#chk2:checked ~ #opcion2 {
  height: 300px;
}

input#chk3:checked ~ #opcion3 {
  height: 300px;
  margin-bottom: 50px;
}
