* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.bg-blue {
  background-color: #447ac0;
  background-size: cover;
  animation: bg_change 24s linear 18s infinite;
}

.bg-magenta {
  background-color: #c044b8;
  background-size: cover;
  animation: bg_change 24s linear 12s infinite;
}

.bg-orange {
  background-color: #c08a44;
  background-size: cover;
  animation: bg_change 24s linear 6s infinite;
}

.bg-green {
  background-color: #44c04c;
  background-size: cover;
  animation: bg_change 24s linear 0s infinite;
}

header,
main {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

header {
  height: 15vh;
  background-color: black;
}

header h1 {
  color: whitesmoke;
  font-size: 2.5em;
  text-align: center;
  line-height: 150px;
}

main {
  height: 85vh;
  padding-top: 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

@keyframes bg_change {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
