* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  background-color: #447ac0;
}

header,
main {
  width: 80%;
  margin: 0 auto;
}

header {
  height: 15vh;
  background-color: black;
}

header h2 {
  color: whitesmoke;
  font-size: 2.5em;
  text-align: center;
  line-height: 150px;
}

main {
  height: 85vh;
  padding-top: 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.slider {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

.slider ul {
  position: relative;
  top: 0;
  left: 0;
  width: 600px;
  height: 300px;
  background: url(../../../img/BannerBlue.png);
  background-size: cover;
}

.slider ul li img {
  position: absolute;
  opacity: 0;
  left: 0;
  transition: opacity 1s ease-out;
}

.slider ul li label {
  position: relative;
  z-index: 3;
  top: 300px;
  left: 260px;
  float: left;
  width: 20px;
  height: 20px;
  margin: 0 2px;
  background: #457bc0;
  border: 3px solid white;
  cursor: pointer;
  border-radius: 100%;
}

.slider ul li label:hover {
  background: #7ac044;
}

.slider ul li label:active {
  background: #c0447b;
}

.slider ul li input {
  display: none;
}

.slider ul li input#rd1:checked ~ #banner1 {
  opacity: 1;
}

.slider ul li input#rd2:checked ~ #banner2 {
  opacity: 1;
}

.slider ul li input#rd3:checked ~ #banner3 {
  opacity: 1;
}

.slider ul li input#rd4:checked ~ #banner4 {
  opacity: 1;
}
